@model Game_Step.Models.Publisher

@{
    ViewBag.Title = "Creating publisher";
}

<div class="container">
    <form asp-action="Create" asp-controller="Publisher" method="post">
        <input type="text" asp-for="Name" placeholder="Name" />

        <input type="submit" value="Create" />
    </form>
</div>
