@model Game_Step.Models.Developer

@{
    ViewBag.Title = "Deletion " + Model.Name;
}

<div class="container">
    Name - @Model.Name

    <form asp-action="Delete" asp-controller="Developer" method="post">
        <input type="submit" value="Delete" />
    </form>
</div>
