@model Game_Step.Models.Developer

@{
    ViewBag.Title = "Update  " + Model.Name;
}

<div class="container">
    <form asp-action="Update" asp-controller="Developer" method="post">
        <input type="text" asp-for="Name" />

        <input type="submit" value="Update" />
    </form>
</div>

