.comments {
    width: 100%;
    margin: 1rem;
    background-color: white;
    padding: 1rem;
}

.comments__name {
    font-weight: 600;
    margin-bottom: 20px;
}

.comments__container {
    display: flex;
}

.comments__avatar {
    margin-right: 20px;
}

.comments__tetx-field {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.comments__profile-name {
    font-weight: 600;
    margin-right: 10px;
    color: black;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
}

.profile-avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.comments_textarea {
    width: 100%;
    height: 100px;
    padding: 22px 30px 55px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
}

.comments__btn-send {
    display: flex;
    position: absolute;
    bottom: 21px;
    right: 20px;
}

    .comments__btn-send button {
        background-color: #ff9900;
        outline: none;
        border: none;
        padding: 8px 16px;
        font-size: 13px;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }

.comments__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments__container, .comments__item-comment {
    border-bottom: 1px solid #f4f4f4;
}

.comments__container {
    padding: 0 40px;
}

.commets__item-comment {
    padding-bottom: 15px;
    padding-top: 25px;
    display: flex;
    width: 100%;
}

.commnets__item-content {
    width: 100%;
}

.comments__comment-header {
    display: flex;
    color: #ccc;
    font-size: 12px;
    align-items: center;
}

.comments__reply {
    color: #ff9900;
    cursor: pointer;
    max-width: 75px;
    font-size: 13px;
}

.comments__comment-header {
    margin-bottom: 7px;
}

.comments__comment {
    margin-bottom: 12px;
    font-size: 14px;
}



.comments__list--children {
    padding-left: 74px;
}


.comments__reply-container {
    width: 100%;
    position: relative;
}

.comments__btns-reply {
    position: absolute;
    display: flex;
    bottom: 21px;
    right: 20px;
}

.comments__close-textarea {
    cursor: pointer;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.comments__btn-reply {
    padding: 8px 16px;
    background-color: #ff9900;
    color: white;
    outline: none;
    border: none;
}

.comment-removed{
    text-decoration-line: line-through!important;
}