.comments {
    width: 100%;
    margin: 1rem;
    background-color: white;
    padding: 1rem;
}

.comments__name {
    font-weight: 600;
    margin-bottom: 20px;
}

.comments__container {
    padding: 0 40px;
}

.comments__container-helper {
    display: flex;
    position: relative;
}

.comments__tetx-field {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
}

.comments__profile-name {
    font-weight: 600;
    margin-right: 10px;
    color: black;
    font-size: 15px;
    display: flex;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}


.comments__avatar {
    width: 54px;
    height: 50px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #dfdfdf;
}

.profile-avatar-img {
    width: 100%;
    display: block;
}

.comments_textarea {
    width: 100%;
    height: 100px;
    padding: 22px 30px 55px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
}

.comments__container-btn {
    display: flex;
    position: absolute;
    bottom: 21px;
    right: 20px;
}

#btn-adding-main-comment {
    background-color: #ff9900;
    outline: none;
    border: none;
    padding: 8px 16px;
    font-size: 13px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.comments__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments__container, .comments__item-comment {
    border-bottom: 1px solid #f4f4f4;
}

.commets__item-comment {
    padding-bottom: 15px;
    padding-top: 25px;
    display: flex;
    width: 100%;
}

.commnets__item-content {
    width: 100%;
    padding-left: 20px;
}

.comments__comment-header {
    display: flex;
    color: #ccc;
    font-size: 12px;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.comments__reply {
    color: #ff9900;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comments__comment-header {
    margin-bottom: 7px;
}

.comments__comment {
    margin-bottom: 12px;
    font-size: 14px;
}



.comments__list--children {
    padding-left: 74px;
}


.comments__reply-container {
    width: 100%;
    position: relative;
    display: none;
}

.comments__btns-reply {
    position: absolute;
    display: flex;
    bottom: 21px;
    right: 20px;
}

.comments__close-textarea {
    cursor: pointer;
    margin-right: 30px;
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.comments__btn-reply {
    padding: 8px 16px;
    background-color: #ff9900;
    color: white;
    outline: none;
    border: none;
    max-width: 95px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.btn-remove-comment, .btn-remove-sub-comment {
    cursor: pointer;
    font-size: 13px;
    color: red;
    margin-left: 40px;
}

.commets__reply-rem {
    display: flex;
}

.btn-remove-sub-comment {
    margin: 0;
}

.valid-comment {
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.comments__login {
    width: 100%;
    padding-right: 30px;
    text-align: end;
    font-size: 16px;
    font-weight: 600;
}

.comments__login a{
    text-decoration: none;
    color: black;
}

.comments__profile-name-admin {
    background-color: #f9b134;
    padding: 2px 9px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    user-select: none
}