.popup-screenshot .overlay-popup-screenshot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup-screenshot .content-screenshots {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 825px;
    height: 480px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.popup-screenshot .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup-screenshot.screenshot-active .overlay-popup-screenshot {
    display: block;
}

.popup-screenshot.screenshot-active .content-screenshots {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.slideshow-screenshot-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide-image img {
    width: 600px;
}

.slide-image {
    display: none;
}

.fade-anim {
    /* ReSharper disable once CssNotResolved */
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    /* ReSharper disable once CssNotResolved */
    animation-name: fade;
    animation-duration: 1s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
}

.next {
    border-radius: 3px 0 0 3px;
    right: 12%;
}

.prev {
    left: 12%;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

@-webkit-keyframes fade-anim {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade-anim {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
