@model IEnumerable<Game_Step.Models.Game>

@{
    Layout = "/Views/Shared/Components/PopupCart/_CartLayout.cshtml";
}
<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <h1>Корзина покупок</h1>
        <p>
            <h4>Список покупок</h4>
            @foreach (var game in Model)
            {
                <div class="col-md-12">
                    <button class="btnDelProdCart" type="button" del-data-id="@game.Id">Remove</button>
                </div>
                <div class="col-md-12">@game.Name</div>
                @if (game.GamePrice.IsDiscount)
                {
                    <div class="col-md-12">@game.GamePrice.DiscountPrice</div>
                }
                else
                {
                    <div class="col-md-12">@game.GamePrice.Price</div>
                }

            }

        <a asp-action="Index" asp-controller="Cart"> В КОРЗИНУ</a>
        </p>
    </div>
</div>