@model Game_Step.ViewModels.CommentCheckingViewModel

@{
    ViewBag.Title = "Проверка комментариев";
}

@section Style {

}
<form asp-action="MainCommentChecking" asp-controller="Comment" method="post">
    @foreach (var comment in Model.MainComment)
    {
        <div style="width: 100%; margin-top: 30px">
            <div style="margin-right: 20px">@comment.Message</div>
            <input type="checkbox" name="Items[@comment.Id]" value="true"/>


        </div>
    }
    <input type="submit" value="Отправить" />
</form>


