* {
    font-family: OpenSans, Roboto;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

html, body{
    padding: 0px;
    margin: 0px;
}

main {
    background-color: #F3F3F3;
}

a{
    text-decoration: none;
}


.main-content {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.product-content {
    position: relative;
    max-width: 1236px;
    display: flex;
    margin: auto auto;
    margin-top: 24px;
}

::-webkit-scrollbar {
    width: 12px; /* ширина для вертикального скролла */
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(247, 247, 247),
    rgb(240, 240, 240), rgb(232, 232, 232), rgb(224, 224, 224), rgb(217, 217, 217),
    rgb(209, 209, 209), rgb(202, 202, 202), rgb(194, 194, 194), rgb(186, 186, 186),
    rgb(179, 179, 179), rgb(171, 171, 171));
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, rgb(255, 224, 99), rgb(254, 204, 103),
    rgb(252, 183, 107), rgb(251, 163, 111), rgb(250, 143, 115), rgb(248, 122, 119),
    rgb(247, 102, 124), rgb(245, 81, 128), rgb(244, 61, 132), rgb(243, 41, 136),
    rgb(241, 20, 140), rgb(240, 0, 144));
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    background-color: #F3F3F3;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.color-8B8B8B {
    color: #8B8B8B;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



.button-cart, .button-cart:active, .button-cart:focus {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.button-cart :hover {
    border-radius: 3px;
    background-color: rgb(190, 190, 190, 0.5)
}

@media (max-width: 991px) {
    .main-content {
        max-width: 980px;
    }
}