@model IEnumerable<Game_Step.Models.Cart>

<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <h1>Title</h1>
        <p>
            <h4>Список товаров</h4>
            <ul>
                @foreach (var prod in Model)
                {
                    <li>@prod.Id</li>
                    <li>@prod.Name</li>
                    <li>@prod.Price</li>
                }
            </ul>
        </p>
    </div>
</div>


