@model IEnumerable<Game_Step.Models.Game>

<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <h1>Title</h1>
        <p>
            <h4>Список пользователей</h4>
            <ul>
                @foreach (var user in Model)
                {
                    <li>@user.Id</li>
                    <li>@user.Name</li>
                    <li>@user.Price</li>
                }
            </ul>
        </p>
    </div>
</div>


