@model IEnumerable<Game_Step.Models.Region>

@{
    ViewBag.Title = "Control pannel publisher";
}

<a asp-action="Create" asp-controller="Region">Create</a>

@foreach (var item in Model)
{
    <div class="col-md-12">
        Name - @item.Name
        <a asp-action="Read" asp-controller="Region" asp-route-id="@item.Id">Read</a>
        <a asp-action="Update" asp-controller="Region" asp-route-id="@item.Id">Update</a>
        <a asp-action="Delete" asp-controller="Region" asp-route-id="@item.Id">Delete</a>
    </div>

}
