@model Game_Step.Models.Region

@{
    ViewBag.Title = "Update publisher";
}

<form asp-action="Update" asp-controller="Publisher" method="post">
    <input type="text" asp-for="Name" placeholder="Name"/>

    <input type="submit" value="Update" />
</form>
