<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Cart/CartPoupup.css" />
    @RenderSection("Style", required: false)
</head>
<body>

    <header class="main-header">
        <div class="main-header__inner">
            <div class="main-header__logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="/img/icon/logo4.png" alt="Logo Game Step">
                </a>

            </div>

            <div class="main-header__dropdown-menu">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="30px" height="30px">
                    <path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z" />
                </svg>
            </div>

            <nav>
                <ul class="main-header__list">
                    <li class="main-header__item">
                        <a class="main-header__btn" href="/CatalogProduct">
                            Каталог Продукции
                        </a>
                    </li>
                    <li class="main-header__item">
                        <a class="main-header__btn" href="#">
                            Поддержка
                        </a>
                    </li>
                    <li class="main-header__item">
                        <a class="main-header__btn" href="#">
                            Мои Покупки
                        </a>
                    </li>
                    <li class="main-header__item">
                        <a class="main-header__btn" asp-controller="Home" asp-action="ControlPanel">
                            Панель управление
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="main-header__search-block">
                <div class="main-header__btn">
                    <img class="main-header__search-icon" src="/img/icon/magnifier.png" alt="magnifier">
                    Поиск игр
                </div>
            </div>

            <div class="main-header__cart">
                <img id="callCart" class="main-header__cart-logo" src="/img/icon/ShoppingCart.png" alt="Shopping cart">
                <span id="quantity-goods" class="main-header__amount-prod"></span>
            </div>
        </div>
    </header>



    <main>

        @RenderBody()

        <div id="cart"></div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        $(document).ready(function () {
            $("#callCart").click(function () {
                $.ajax({
                    url: window.location.origin + "/Cart/CallCart",
                    type: "Get",
                    success: function (result) {
                        $("#cart").html(result);
                    },
                });
            });
        });
    </script>
    <script>
        //Call function to display the number of items in the cart
        $(document).ready(function () {
            $.ajax({
                url: window.location.origin + "/Cart/CountOfGoods",
                type: "POST",
                success: function (result) {
                    $("#quantity-goods").html(result);
                },
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
