@model Game_Step.Models.User

@{
    ViewBag.Title = "Profile - " + Model.UserName;
}

<div class="container">
    First name - @Model.FirstName
    Last name - @Model.LastName
    Email - @Model.Email
</div>