@model Game_Step.ViewModels.GamesViewModel
@using Game_Step.Util
@inject SelectItemHelper select

@{
    ViewBag.Title = "Adding Game";
}

<div class="container">
    <form asp-action="Create" asp-controller="Game" method="post" enctype="multipart/form-data">
        Info about games
        <input class="col-md-12 mb-3" type="text" asp-for="Name" placeholder="Name" />
        <select class="col-md-12 mb-3" asp-for="Genre" asp-items="Game_Step.Util.SelectItemHelper.GetGenre()"></select>
        <input class="col-md-12 mb-3" type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
        <textarea asp-for="Description"></textarea>
        <input class="col-md-12 mb-3" type="text" asp-for="Language" placeholder="Language" />
        <input class="col-md-12 mb-3" type="number" asp-for="QuantityOfGoods" placeholder="Quantity of goods" />
        <label class="col-md-12 mb-3" asp-for="ReleaseDate"></label>
        <input class="col-md-12 mb-3" type="date" asp-for="ReleaseDate" />
        <select class="col-md-12 mb-3" asp-for="Publisher" asp-items="select.GetPublisher()"></select>
        <select class="col-md-12 mb-3" asp-for="Developer" asp-items="select.GetDeveloper()"></select>
        <input class="col-md-12 mb-3" type="text" asp-for="Features" placeholder="Features" />
        <input class="col-md-12 mb-3" type="text" asp-for="Region" placeholder="Region" />
        <select class="col-md-12 mb-3" asp-for="WhereKeyActivated"
                asp-items="Game_Step.Util.SelectItemHelper.GetWhereKeyActivated()"></select>

        Minimum System Requirements
        <input class="col-md-12 mb-3" type="text" asp-for="MinimumOC" placeholder="OC" />
        <input class="col-md-12 mb-3" type="text" asp-for="MinimumCPU" placeholder="CPU" />
        <input class="col-md-12 mb-3" type="text" asp-for="MinimumRAM" placeholder="RAM" />
        <input class="col-md-12 mb-3" type="text" asp-for="MinimumVideoCard" placeholder="VideoCard" />
        <input class="col-md-12 mb-3" type="text" asp-for="MinimumDirectX" placeholder="DirectX" />
        <input class="col-md-12 mb-3" type="text" asp-for="MinimumHDD" placeholder="HDD" />

        Recommended System Requirements
        <input class="col-md-12 mb-3" type="text" asp-for="RecommendOC" placeholder="OC" />
        <input class="col-md-12 mb-3" type="text" asp-for="RecommendCPU" placeholder="CPU" />
        <input class="col-md-12 mb-3" type="text" asp-for="RecommendRAM" placeholder="RAM" />
        <input class="col-md-12 mb-3" type="text" asp-for="RecommendVideoCard" placeholder="VideoCard" />
        <input class="col-md-12 mb-3" type="text" asp-for="RecommendDirectX" placeholder="DirectX" />
        <input class="col-md-12 mb-3" type="text" asp-for="RecommendHDD" placeholder="HDD" />

        <input class="col-md-12" type="submit" value="Send" />
    </form>
</div>
