@model Game_Step.ViewModels.GamesCreateViewModel
@using Game_Step.Util
@inject SelectItemHelper select

@{
    int i = 0;
    ViewBag.Title = "Adding Game";
}

@section Style{
    <link href="~/css/Game/Create_Update.css" rel="stylesheet" />
}

<div class="main-content">

    <div class="product-content">

        <div class="info-page">
            Добавление игры
        </div>

        <form class="main-form-add" asp-action="Create" asp-controller="Game" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>

            <div class="block-input">
                <label asp-for="Game.Name" class="name-input">Name*</label>
                <input class="main-form-input" type="text" asp-for="Game.Name" placeholder="Name">
                <span asp-validation-for="Game.Name"></span>
            </div>

            <div class="block-input">
                <label asp-for="Price.Price" class="name-input">Price</label>
                <input class="main-form-input" type="number" asp-for="Price.Price" placeholder="Price">
                <span asp-validation-for="Price.Price"></span>
            </div>

            <div class="block-input">
                Add discount
                <input type="checkbox" id="discount-check" asp-for="Price.IsDiscount" />
            </div>

            <div class="block-input" id="discount" style="display: none;">
                <label asp-for="Price.Discount" class="name-input">Discount percent</label>
                <input class="main-form-input" id="discount-inp" type="number" asp-for="Price.Discount"
                       value="0" min="0" max="99" placeholder="Discount">
                <span asp-validation-for="Price.Discount"></span>
            </div>

            <textarea id="decsription" asp-for="Game.Description" style="width: 70%;"></textarea>

            <div class="block-input">
                <label asp-for="Game.ReleaseDate" class="name-input">Release date</label>
                <input class="main-form-input" type="date" asp-for="Game.ReleaseDate">
                <span asp-validation-for="Game.ReleaseDate"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.QuantityOfGoods" class="name-input">Quantity of goods</label>
                <input class="main-form-input" type="number" asp-for="Game.QuantityOfGoods" placeholder="Quantity of goods">
                <span asp-validation-for="Game.QuantityOfGoods"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.Language" class="name-input">Language</label>
                <input class="main-form-input" type="text" asp-for="Game.Language" placeholder="Language">
                <span asp-validation-for="Game.Language"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.Features" class="name-input">Features</label>
                <input class="main-form-input" type="text" asp-for="Game.Features" placeholder="Features">
                <span asp-validation-for="Game.Features"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.Region" class="name-input">Region</label>
                <input class="main-form-input" type="text" asp-for="Game.Region" placeholder="Region">
                <span asp-validation-for="Game.Region"></span>
            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Главная картинка (1920*1080)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="MainImage" />
                <img class="image-preview" src="#" />
                <div class="preview-container">Preview Image</div>
            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Картинка на старнцие товара (375*480)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="InnerImage" />
                <img class="image-preview" src="#" style="width: 375px; height: 480px;" />
                <div class="preview-container" style="width: 375px; height: 480px;">Preview Image</div>
            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Картинка в каталоге (153*72)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="ImageInCatalog" />
                <img class="image-preview" src="#" style="width: 153px; height: 72px;" />
                <div class="preview-container" style="width: 153px; height: 72px;">Preview Image</div>
            </div>

            <div class="block-input">
                @foreach (var tag in Model.Tags)
                {
                    <div class="block-input__tags">
                        <div class="block-input__tags-add">
                            <label>
                                <input type="checkbox" name="TagsDictionary[@i].Value.IsAdd" value="true">
                                @tag.Name
                            </label>
                            <input type="number" name="TagsDictionary[@i].Key" value="@tag.Id" hidden readonly>
                            <input type="number" name="TagsDictionary[@i].Value.TagId" value="@tag.Id" hidden readonly>
                        </div>
                        <div class="block-input__tags-show">
                            <label>
                                <input type="checkbox" name="TagsDictionary[@i].Value.Show" value="true">
                                Показывать на странице игры?
                            </label>
                        </div>
                    </div>
                    i++;
                }
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box2" class="label select-box2 select-box-color">
                        <span class="label-desc">Choose publisher</span>
                    </label>
                    <select id="select-box2" class="select" asp-for="Game.Language" asp-items="select.GetPublisher()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box3" class="label select-box3 select-box-color">
                        <span class="label-desc">Choose developer</span>
                    </label>
                    <select id="select-box3" class="select" asp-for="Game.Features" asp-items="select.GetDeveloper()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box4" class="label select-box4 select-box-color">
                        <span class="label-desc">Key activation platform</span>
                    </label>
                    <select id="select-box4" class="select" asp-for="Game.WhereKeyActivated"
                            asp-items="SelectItemHelper.GetWhereKeyActivated()">
                    </select>
                </div>
            </div>


            Minimum System Requirements
            <div class="block-input">
                <label asp-for="GameMinimum.MinimumOC" class="name-input">OC</label>
                <input class="main-form-input" type="text" asp-for="GameMinimum.MinimumOC" placeholder="OC" />
                <span asp-validation-for="GameMinimum.MinimumOC"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameMinimum.MinimumCPU" class="name-input">CPU</label>
                <input class="main-form-input" type="text" asp-for="GameMinimum.MinimumCPU" placeholder="CPU">
                <span asp-validation-for="GameMinimum.MinimumCPU"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameMinimum.MinimumRAM" class="name-input">RAM</label>
                <input class="main-form-input" type="text" asp-for="GameMinimum.MinimumRAM" placeholder="RAM">
                <span asp-validation-for="GameMinimum.MinimumRAM"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameMinimum.MinimumVideoCard" class="name-input">Video card</label>
                <input class="main-form-input" type="text" asp-for="GameMinimum.MinimumVideoCard" placeholder="VideoCard">
                <span asp-validation-for="GameMinimum.MinimumVideoCard"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameMinimum.MinimumDirectX" class="name-input">DirectX</label>
                <input class="main-form-input" type="text" asp-for="GameMinimum.MinimumDirectX" placeholder="DirectX">
                <span asp-validation-for="GameMinimum.MinimumDirectX"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameMinimum.MinimumHDD" class="name-input">HDD</label>
                <input class="main-form-input" type="text" asp-for="GameMinimum.MinimumHDD" placeholder="HDD">
                <span asp-validation-for="GameMinimum.MinimumHDD"></span>
            </div>


            Recommend System Requirements
            <div class="block-input">
                <label asp-for="GameRecommendation.RecommendOC" class="name-input">OC</label>
                <input class="main-form-input" type="text" asp-for="GameRecommendation.RecommendOC" placeholder="OC" />
                <span asp-validation-for="GameRecommendation.RecommendOC"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameRecommendation.RecommendCPU" class="name-input">CPU</label>
                <input class="main-form-input" type="text" asp-for="GameRecommendation.RecommendCPU" placeholder="CPU">
                <span asp-validation-for="GameRecommendation.RecommendCPU"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameRecommendation.RecommendRAM" class="name-input">RAM</label>
                <input class="main-form-input" type="text" asp-for="GameRecommendation.RecommendRAM" placeholder="RAM">
                <span asp-validation-for="GameRecommendation.RecommendRAM"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameRecommendation.RecommendVideoCard" class="name-input">Video card</label>
                <input class="main-form-input" type="text" asp-for="GameRecommendation.RecommendVideoCard" placeholder="VideoCard">
                <span asp-validation-for="GameRecommendation.RecommendVideoCard"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameRecommendation.RecommendDirectX" class="name-input">DirectX</label>
                <input class="main-form-input" type="text" asp-for="GameRecommendation.RecommendDirectX" placeholder="DirectX">
                <span asp-validation-for="GameRecommendation.RecommendDirectX"></span>
            </div>
            <div class="block-input">
                <label asp-for="GameRecommendation.RecommendHDD" class="name-input">HDD</label>
                <input class="main-form-input" type="text" asp-for="GameRecommendation.RecommendHDD" placeholder="HDD">
                <span asp-validation-for="GameRecommendation.RecommendHDD"></span>
            </div>

            <button class="send">Add</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/Game/Create_Update.js"></script>
}