@model Game_Step.ViewModels.GamesViewModel
@using Game_Step.Util
@inject SelectItemHelper select

@{
    ViewBag.Title = "Add Game";
}

<form asp-action="Create" asp-controller="Game" method="post">
    Info about games
    <input class="col-md-12" type="text" asp-for="Article" placeholder="Article" />
    <input class="col-md-12" type="text" asp-for="Name" placeholder="Name" />
    <input class="col-md-12" type="text" asp-for="Language" placeholder="Language" />
    <label class="col-md-12" asp-for="ReleaseDate"></label>
    <input class="col-md-12" type="date" asp-for="ReleaseDate" />
    <select class="col-md-12" asp-for="Publisher" asp-items="select.GetPublisher()"></select>
    <select class="col-md-12" asp-for="Developer" asp-items="select.GetDeveloper()"></select>
    <input class="col-md-12" type="text" asp-for="Features" placeholder="Features" />
    <input class="col-md-12" type="text" asp-for="Region" placeholder="Region" />

    Minimum System Requirements
    <input class="col-md-12" type="text" asp-for="MinOC" placeholder="OC" />
    <input class="col-md-12" type="text" asp-for="MinCPU" placeholder="CPU" />
    <input class="col-md-12" type="text" asp-for="MinRAM" placeholder="RAM" />
    <input class="col-md-12" type="text" asp-for="MinVideoCard" placeholder="VideoCard" />
    <input class="col-md-12" type="text" asp-for="MinDirectX" placeholder="DirectX" />
    <input class="col-md-12" type="text" asp-for="MinHDD" placeholder="HDD" />
    Recommended System Requirements
    <input class="col-md-12" type="text" asp-for="RecOC" placeholder="OC" />
    <input class="col-md-12" type="text" asp-for="RecCPU" placeholder="CPU" />
    <input class="col-md-12" type="text" asp-for="RecRAM" placeholder="RAM" />
    <input class="col-md-12" type="text" asp-for="RecVideoCard" placeholder="VideoCard" />
    <input class="col-md-12" type="text" asp-for="RecDirectX" placeholder="DirectX" />
    <input class="col-md-12" type="text" asp-for="RecHDD" placeholder="HDD" />





    <input class="col-md-12" type="submit" value="Send" />
</form>
