@model Game_Step.Models.Game

@{
    ViewBag.Title = "Deletion " + Model.Name;
}

<div class="container">
    Artical - @Model.Article

    <form asp-action="Delete" asp-controller="Game" method="post">
        <input type="submit" value="Delete" />
    </form>

</div>
