@model Game_Step.ViewModels.GamesUpdateViewModel
@using Game_Step.Util
@inject SelectItemHelper select

@{
    ViewBag.Title = "Update " + Model.Name;
}

@section Style{
    <link href="~/css/Game/Create_Update.css" rel="stylesheet" />
}

<div class="main-content">

    <div class="product-content">

        <div class="info-page">
            Обновление @Model.Name
        </div>

        <form class="main-form-add" asp-action="Update" asp-controller="Game" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>

            <div class="block-input">
                <label asp-for="Name" class="name-input">Name*</label>
                <input class="main-form-input" type="text" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name"></span>
            </div>

            <div class="block-input">
                <label asp-for="Price" class="name-input">Price</label>
                <input class="main-form-input" type="number" asp-for="Price" placeholder="Price">
                <span asp-validation-for="Price"></span>
            </div>

            <div class="block-input">
                Add discount
                <input type="checkbox" id="discount-check" asp-for="IsDiscount" />
            </div>
            <div class="block-input" id="discount" style="display: none;">
                <label asp-for="Discount" class="name-input">Discount percent</label>
                <input class="main-form-input" id="discount-inp" type="number" asp-for="Discount"
                       min="0" max="99" placeholder="Discount">
                <span asp-validation-for="Discount"></span>
            </div>

            <textarea asp-for="Description" style="width: 70%;"></textarea>

            <div class="block-input">
                <label asp-for="ReleaseDate" class="name-input">Release date</label>
                <input class="main-form-input" type="date" asp-for="ReleaseDate">
                <span asp-validation-for="ReleaseDate"></span>
            </div>

            <div class="block-input">
                <label asp-for="QuantityOfGoods" class="name-input">Quantity of goods</label>
                <input class="main-form-input" type="number" asp-for="QuantityOfGoods" placeholder="Quantity of goods">
                <span asp-validation-for="QuantityOfGoods"></span>
            </div>

            <div class="block-input">
                <label asp-for="Language" class="name-input">Language</label>
                <input class="main-form-input" type="text" asp-for="Language" placeholder="Language">
                <span asp-validation-for="Discount"></span>
            </div>

            <div class="block-input">
                <label asp-for="Features" class="name-input">Features</label>
                <input class="main-form-input" type="text" asp-for="Features" placeholder="Features">
                <span asp-validation-for="Features"></span>
            </div>

            <div class="block-input">
                <label asp-for="Region" class="name-input">Region</label>
                <input class="main-form-input" type="text" asp-for="Region" placeholder="Region">
                <span asp-validation-for="Region"></span>
            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Главная картинка (1920*1080)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="MainImage" />
                @if (Model.MainImagePath != null)
                {
                    <img class="image-preview" src="@Model.MainImagePath" style="display: block;" />
                    <div class="preview-container" style="display: none;">Preview Image</div>
                }
                else
                {
                    <img class="image-preview" src="" />
                    <div class="preview-container">Preview Image</div>
                }

            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Картинка на старнцие товара (375*480)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="InnerImage" />
                @if (Model.InnerImagePath != null)
                {
                    <img class="image-preview" src="@Model.InnerImagePath" style="width: 375px; height: 480px; display: block;" />
                    <div class="preview-container" style="width: 375px; height: 480px; display: none;">Preview Image</div>
                }
                else
                {
                    <img class="image-preview" src="#" style="width: 375px; height: 480px;" />
                    <div class="preview-container" style="width: 375px; height: 480px;">Preview Image</div>
                }
            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Картинка в каталоге (153*72)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="ImageInCatalog" />
                @if (Model.ImageInCatalogPath != null)
                {
                    <img class="image-preview" src="@Model.ImageInCatalogPath" style="width: 153px; height: 72px; display: block;" />
                    <div class="preview-container" style="width: 153px; height: 72px; display: none;">Preview Image</div>
                }
                else
                {
                    <img class="image-preview" src="#" style="width: 153px; height: 72px;" />
                    <div class="preview-container" style="width: 153px; height: 72px;">Preview Image</div>
                }
            </div>


            <div class="block-input">
                <div class="select-box">
                    <label for="select-box1" class="label select-box1 select-box-color">
                        <span class="label-desc">Choose genre</span>
                    </label>
                    <select id="select-box1" class="select" asp-for="Genre" asp-items="SelectItemHelper.GetGenre()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box2" class="label select-box2 select-box-color">
                        <span class="label-desc">Choose publisher</span>
                    </label>
                    <select id="select-box2" class="select" asp-for="ReleaseDate" asp-items="select.GetPublisher()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box3" class="label select-box3 select-box-color">
                        <span class="label-desc">Choose developer</span>
                    </label>
                    <select id="select-box3" class="select" asp-for="QuantityOfGoods" asp-items="select.GetDeveloper()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box4" class="label select-box4 select-box-color">
                        <span class="label-desc">Key activation platform</span>
                    </label>
                    <select id="select-box4" class="select" asp-for="WhereKeyActivated"
                            asp-items="SelectItemHelper.GetWhereKeyActivated()">
                    </select>
                </div>
            </div>


            Minimum System Requirements
            <div class="block-input">
                <label asp-for="QuantityOfGoods" class="name-input">OC</label>
                <input class="main-form-input" type="text" asp-for="MinimumOC" placeholder="OC" />
                <span asp-validation-for="MinimumOC"></span>
            </div>

            <div class="block-input">
                <label asp-for="MinimumCPU" class="name-input">CPU</label>
                <input class="main-form-input" type="text" asp-for="MinimumCPU" placeholder="CPU">
                <span asp-validation-for="MinimumCPU"></span>
            </div>
            <div class="block-input">
                <label asp-for="MinimumRAM" class="name-input">RAM</label>
                <input class="main-form-input" type="text" asp-for="MinimumRAM" placeholder="RAM">
                <span asp-validation-for="Language"></span>
            </div>
            <div class="block-input">
                <label asp-for="Features" class="name-input">Video card</label>
                <input class="main-form-input" type="text" asp-for="Features" placeholder="VideoCard">
                <span asp-validation-for="Features"></span>
            </div>
            <div class="block-input">
                <label asp-for="Region" class="name-input">DirectX</label>
                <input class="main-form-input" type="text" asp-for="Region" placeholder="DirectX">
                <span asp-validation-for="Region"></span>
            </div>
            <div class="block-input">
                <label asp-for="MinimumHDD" class="name-input">HDD</label>
                <input class="main-form-input" type="text" asp-for="MinimumHDD" placeholder="HDD">
                <span asp-validation-for="MinimumHDD"></span>
            </div>


            Recommend System Requirements
            <div class="block-input">
                <label asp-for="RecommendOC" class="name-input">OC</label>
                <input class="main-form-input" type="text" asp-for="RecommendOC" placeholder="OC" />
                <span asp-validation-for="RecommendOC"></span>
            </div>

            <div class="block-input">
                <label asp-for="RecommendCPU" class="name-input">CPU</label>
                <input class="main-form-input" type="text" asp-for="RecommendCPU" placeholder="CPU">
                <span asp-validation-for="RecommendCPU"></span>
            </div>
            <div class="block-input">
                <label asp-for="RecommendRAM" class="name-input">RAM</label>
                <input class="main-form-input" type="text" asp-for="RecommendRAM" placeholder="RAM">
                <span asp-validation-for="RecommendRAM"></span>
            </div>
            <div class="block-input">
                <label asp-for="RecommendVideoCard" class="name-input">Video card</label>
                <input class="main-form-input" type="text" asp-for="RecommendVideoCard" placeholder="VideoCard">
                <span asp-validation-for="RecommendVideoCard"></span>
            </div>
            <div class="block-input">
                <label asp-for="RecommendDirectX" class="name-input">DirectX</label>
                <input class="main-form-input" type="text" asp-for="RecommendDirectX" placeholder="DirectX">
                <span asp-validation-for="RecommendDirectX"></span>
            </div>
            <div class="block-input">
                <label asp-for="Genre" class="name-input">HDD</label>
                <input class="main-form-input" type="text" asp-for="RecommendHDD" placeholder="HDD">
                <span asp-validation-for="RecommendHDD"></span>
            </div>

            <button class="send">Update</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/Game/Create_Update.js"></script>
}