@model Game_Step.ViewModels.GamesUpdateViewModel
@using Game_Step.Util
@inject SelectItemHelper select

@{
    ViewBag.Title = "Update " + Model.Game.Name;
}

@section Style{
    <link href="~/css/Game/Create_Update.css" rel="stylesheet" />
}

<div class="main-content">

    <div class="product-content">

        <div class="info-page">
            Обновление @Model.Game.Name
        </div>

        <form class="main-form-add" asp-action="Update" asp-controller="Game" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>

            <div class="block-input">
                <label asp-for="Game.Name" class="name-input">Name*</label>
                <input class="main-form-input" type="text" asp-for="Game.Name" placeholder="Name">
                <span asp-validation-for="Game.Name"></span>
            </div>

            <div class="block-input">
                <label asp-for="Price.Price" class="name-input">Price</label>
                <input class="main-form-input" type="number" asp-for="Price.Price" placeholder="Price">
                <span asp-validation-for="Price.Price"></span>
            </div>

            <div class="block-input">
                Add discount
                <input type="checkbox" id="discount-check" asp-for="Price.IsDiscount" />
            </div>
            <div class="block-input" id="discount" style="display: none;">
                <label asp-for="Price.Discount" class="name-input">Discount percent</label>
                <input class="main-form-input" id="discount-inp" type="number" asp-for="Price.Discount"
                       min="0" max="99" placeholder="Discount">
                <span asp-validation-for="Price.Discount"></span>
            </div>

            <textarea asp-for="Game.Description" style="width: 70%;"></textarea>

            <div class="block-input">
                <label asp-for="Game.ReleaseDate" class="name-input">Release date</label>
                <input class="main-form-input" type="date" asp-for="Game.ReleaseDate">
                <span asp-validation-for="Game.ReleaseDate"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.QuantityOfGoods" class="name-input">Quantity of goods</label>
                <input class="main-form-input" type="number" asp-for="Game.QuantityOfGoods" placeholder="Quantity of goods">
                <span asp-validation-for="Game.QuantityOfGoods"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.Language" class="name-input">Language</label>
                <input class="main-form-input" type="text" asp-for="Game.Language" placeholder="Language">
                <span asp-validation-for="Game.Language"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.Features" class="name-input">Features</label>
                <input class="main-form-input" type="text" asp-for="Game.Features" placeholder="Features">
                <span asp-validation-for="Game.Features"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.Region" class="name-input">Region</label>
                <input class="main-form-input" type="text" asp-for="Game.Region" placeholder="Region">
                <span asp-validation-for="Game.Region"></span>
            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Главная картинка (1920*1080)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="MainImage" />
                @if (Model.MainImagePath != null)
                {
                    <img class="image-preview" src="@Model.MainImagePath" style="display: block;" />
                    <div class="preview-container" style="display: none;">Preview Image</div>
                }
                else
                {
                    <img class="image-preview" src="" />
                    <div class="preview-container">Preview Image</div>
                }

            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Картинка на старнцие товара (375*480)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="InnerImage" />
                @if (Model.InnerImagePath != null)
                {
                    <img class="image-preview" src="@Model.InnerImagePath" style="width: 375px; height: 480px; display: block;" />
                    <div class="preview-container" style="width: 375px; height: 480px; display: none;">Preview Image</div>
                }
                else
                {
                    <img class="image-preview" src="#" style="width: 375px; height: 480px;" />
                    <div class="preview-container" style="width: 375px; height: 480px;">Preview Image</div>
                }
            </div>

            <div class="block-input block-img-input">
                <div class="info-input-image">Картинка в каталоге (153*72)</div>
                <img class="add-image__icon-plus clickInpImage" src="/img/icon/icon-plus.svg" alt="Add image">
                <input class="img-inp" type="file" asp-for="ImageInCatalog" />
                @if (Model.ImageInCatalogPath != null)
                {
                    <img class="image-preview" src="@Model.ImageInCatalogPath" style="width: 153px; height: 72px; display: block;" />
                    <div class="preview-container" style="width: 153px; height: 72px; display: none;">Preview Image</div>
                }
                else
                {
                    <img class="image-preview" src="#" style="width: 153px; height: 72px;" />
                    <div class="preview-container" style="width: 153px; height: 72px;">Preview Image</div>
                }
            </div>


            <div class="block-input">
                <div class="select-box">
                    <label for="select-box1" class="label select-box1 select-box-color">
                        <span class="label-desc">Choose genre</span>
                    </label>
                    <select id="select-box1" class="select" asp-for="Game.Genre" asp-items="SelectItemHelper.GetGenre()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box2" class="label select-box2 select-box-color">
                        <span class="label-desc">Choose publisher</span>
                    </label>
                    <select id="select-box2" class="select" asp-for="Game.ReleaseDate" asp-items="select.GetPublisher()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box3" class="label select-box3 select-box-color">
                        <span class="label-desc">Choose developer</span>
                    </label>
                    <select id="select-box3" class="select" asp-for="Game.QuantityOfGoods" asp-items="select.GetDeveloper()">
                    </select>
                </div>
            </div>

            <div class="block-input">
                <div class="select-box">
                    <label for="select-box4" class="label select-box4 select-box-color">
                        <span class="label-desc">Key activation platform</span>
                    </label>
                    <select id="select-box4" class="select" asp-for="Game.WhereKeyActivated"
                            asp-items="SelectItemHelper.GetWhereKeyActivated()">
                    </select>
                </div>
            </div>


            Minimum System Requirements
            <div class="block-input">
                <label asp-for="Game.MinimumOC" class="name-input">OC</label>
                <input class="main-form-input" type="text" asp-for="Game.MinimumOC" placeholder="OC" />
                <span asp-validation-for="Game.MinimumOC"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.MinimumCPU" class="name-input">CPU</label>
                <input class="main-form-input" type="text" asp-for="Game.MinimumCPU" placeholder="CPU">
                <span asp-validation-for="Game.MinimumCPU"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.MinimumRAM" class="name-input">RAM</label>
                <input class="main-form-input" type="text" asp-for="Game.MinimumRAM" placeholder="RAM">
                <span asp-validation-for="Game.MinimumRAM"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.MinimumVideoCard" class="name-input">Video card</label>
                <input class="main-form-input" type="text" asp-for="Game.MinimumVideoCard" placeholder="VideoCard">
                <span asp-validation-for="Game.MinimumVideoCard"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.MinimumDirectX" class="name-input">DirectX</label>
                <input class="main-form-input" type="text" asp-for="Game.MinimumDirectX" placeholder="DirectX">
                <span asp-validation-for="Game.MinimumDirectX"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.MinimumHDD" class="name-input">HDD</label>
                <input class="main-form-input" type="text" asp-for="Game.MinimumHDD" placeholder="HDD">
                <span asp-validation-for="Game.MinimumHDD"></span>
            </div>


            Recommend System Requirements
            <div class="block-input">
                <label asp-for="Game.RecommendOC" class="name-input">OC</label>
                <input class="main-form-input" type="text" asp-for="Game.RecommendOC" placeholder="OC" />
                <span asp-validation-for="Game.RecommendOC"></span>
            </div>

            <div class="block-input">
                <label asp-for="Game.RecommendCPU" class="name-input">CPU</label>
                <input class="main-form-input" type="text" asp-for="Game.RecommendCPU" placeholder="CPU">
                <span asp-validation-for="Game.RecommendCPU"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.RecommendRAM" class="name-input">RAM</label>
                <input class="main-form-input" type="text" asp-for="Game.RecommendRAM" placeholder="RAM">
                <span asp-validation-for="Game.RecommendRAM"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.RecommendVideoCard" class="name-input">Video card</label>
                <input class="main-form-input" type="text" asp-for="Game.RecommendVideoCard" placeholder="VideoCard">
                <span asp-validation-for="Game.RecommendVideoCard"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.RecommendDirectX" class="name-input">DirectX</label>
                <input class="main-form-input" type="text" asp-for="Game.RecommendDirectX" placeholder="DirectX">
                <span asp-validation-for="Game.RecommendDirectX"></span>
            </div>
            <div class="block-input">
                <label asp-for="Game.RecommendHDD" class="name-input">HDD</label>
                <input class="main-form-input" type="text" asp-for="Game.RecommendHDD" placeholder="HDD">
                <span asp-validation-for="Game.RecommendHDD"></span>
            </div>

            <button class="send">Update</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/Game/Create_Update.js"></script>
}