@model Game_Step.Models.GameKey
@using Game_Step.Util
@inject SelectItemHelper select

@{
    ViewBag.Title = "Adding key";
}

<div class="container">
    <form asp-action="AddKey" asp-controller="GameKey" method="post" enctype="multipart/form-data">

        <input class="col-md-12 pb-3" type="file" name="uploadFile" accept=".txt" />

        <div class="accordion">See instructions</div>
        <div class="panel">
            <p>
                The file must be with .txt extensions. Add the key to the beginning of
                the file, add the next key on the next line, and so on.
            </p>
        </div>


        <select class="col-md-12 pb-3" asp-for="GameId" asp-items="select.GetGameId()"></select>



        <input type="submit" value="Add" />
    </form>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>

<style>
    .accordion {
    background-color: #0094E9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #69DA58;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

</style>
