<div class="main-content">
    <div class="product-content">
        <div style="flex: 1; position: relative">
            <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
                <div *ngFor="let p of products">
                    <a class="catalog-item" href="/Game/Game/{{p?.id}}">
                        <div class="catalog-item__container-img">
                            <img class="catalog-item__img" src="{{p?.image}}" alt="{{p?.name}}">
                        </div>

                        <div class="catalog-item__info">
                            <div class="catalog-item__name">{{p?.name}}</div>
                            <div class="catalog-item__more-info">
                                <div class="catalog-item__activate">
                                    <img src="/img/Game/logo/steam.png" alt="steam">
                                </div>
                                <div class="catalog-item__genre"> Экшены, RPG</div>
                            </div>
                        </div>

                        <div class="catalog-item__price" *ngIf="p?.isDiscount">
                            <div class="catalog-item__discount">
                                -{{p?.discount}}%
                            </div>
                            <div class="catalog-item__cur-price">
                                {{p?.priceDiscount}} $
                            </div>
                        </div>
                        <div class="catalog-item__price" *ngIf="!p?.isDiscount">
                            <div class="catalog-item__cur-price">
                                {{p?.price}} $
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--Spinner-->
            <div style="position: relative; width: 100%; height: 100px" >
                <ngx-spinner bdColor="rgba(0,0,0,0)" size="default" color="#ff9900" type="pacman" [fullScreen]="false"></ngx-spinner>
            </div>
        </div>

        <aside class="aside">

            <div class="aside__filter-block">
                <div class="aside__filter-block-name">Цена</div>
                <div id="sliderPrice"></div>
                <div class="aside__container-price">
                    <div class="aside__container-minPrice">
                        <span class="aside__minPrice-text">От</span>
                        <input id="minPrice" type="number" disabled >
                    </div>
                    <div class="aside__container-maxPrice">
                        <span class="aside__maxPrice-text">До</span>
                        <input id="maxPrice" type="number" disabled>
                    </div>
                </div>

            </div>

            <div class="aside__filter-block">
                <div class="aside__filter-block-name">Метки</div>
                <div class="aside__container-select">
                    <select class="aside__tags-select">
                        <option value=""></option>
                        <option value="action">Экшен</option>
                        <option value="female-protagonist">Женщина-протагонист</option>
                        <option value="third-person">От третьего лица</option>
                        <option value="singleplayer">Для одного игрока</option>
                    </select>
                    <img class="aside__select-arrow" src="/img/Catalog product/loupe.png">
                </div>
                <ul class="aside__tags-list">
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label">
                            <input type="checkbox" (click)="setParam('tags', 'survival', $event)" >
                            Выживание
                        </label>
                    </li>
                   
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label">
                            <input type="checkbox" (click)="setParam('tags', 'open-world', $event)">
                            Открытый мир
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label">
                            <input type="checkbox" (click)="setParam('tags', 'zombie', $event)">
                            Зомби
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label">
                            <input type="checkbox" (click)="setParam('tags', 'tactic', $event)">
                            Тактика
                        </label>
                    </li>
                </ul>
            </div>

            <div class="aside__filter-block">
                <div class="aside__filter-block-name">Режим игры</div>
                <ul class="aside__tags-list">
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="single">
                            <input type="checkbox" (click)="setParam('gameMode', 'single', $event)">
                            Одиночная
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="cooperative-mode">
                            <input type="checkbox" (click)="setParam('gameMode', 'cooperative', $event)">
                            Кооперативный режим
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="online-game">
                            <input type="checkbox" (click)="setParam('gameMode', 'online', $event)">
                            Сетевая игра
                        </label>
                    </li>
                </ul>
            </div>

            <div class="aside__filter-block">
                <div class="aside__filter-block-name">Особенности</div>
                <ul class="aside__tags-list">
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="steam-achievement">
                            <input type="checkbox" (click)="setParam('features', 'steam-achievement', $event)">
                            Достижение Steam
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="controller">
                            <input type="checkbox" (click)="setParam('features', 'controller', $event)">
                            Контроллер
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="collectible-cards">
                            <input type="checkbox" (click)="setParam('features', 'collectible-cards', $event)">
                            Коллекционные карточки
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="virtual-reality">
                            <input type="checkbox" (click)="setParam('features', 'virtual-reality', $event)">
                            Виртуальная реальность
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="DLC" (click)="setParam('features', 'dlc', $event)">
                            <input type="checkbox">
                            DLC
                        </label>
                    </li>
                </ul>
            </div>

            <div class="aside__filter-block">
                <div class="aside__filter-block-name">Платформы</div>
                <ul class="aside__tags-list">
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="windows">
                            <input type="checkbox" (click)="setParam('platforms', 'windows', $event)">
                            Windows
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="mac" (click)="setParam('platforms', 'mac', $event)">
                            <input type="checkbox">
                            Mac
                        </label>
                    </li>
                    <li class="aside__tags-item">
                        <label class="aside__tags-item-label aside__item-img" id="linux" (click)="setParam('platforms', 'linux', $event)">
                            <input type="checkbox">
                            Linux
                        </label>
                    </li>
                </ul>
            </div>

            <div class="aside__filter-block">
                <div class="aside__filter-block-name">Издатель</div>
                <div class="aside__container-select">
                    <select class="aside__tags-select">
                        <option value=""></option>
                        <option value="action">Экшен</option>
                        <option value="female-protagonist">Женщина-протагонист</option>
                        <option value="third-person">От третьего лица</option>
                        <option value="singleplayer">Для одного игрока</option>
                    </select>
                    <img class="aside__select-arrow" src="/img/Catalog product/loupe.png">
                </div>
            </div>

            <div class="aside__filter-block">
                <div class="aside__filter-block-name">Дата выхода</div>

                <div class="aside__container-select-year">
                    <select class="aside__select-year" id="minYear" >
                        <option *ngFor="let item of year">{{item}}</option>
                    </select>
                    <select class="aside__select-year" id="maxYear" >
                        <option *ngFor="let item of year">{{item}}</option>
                    </select>
                </div>

            </div>

        </aside>
    </div>
</div>
