a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.block-slider {
    min-height: 500px;
    background-color: blue;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.main-page-catalog {
    flex: 1;
    margin-right: 12px;
}

.main-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 28px;
}

.tabs {
    list-style: none;
    display: flex;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.item-tabs {
    padding: 0 15px 30px 15px;
    cursor: pointer;
}

.item-tabs-active {
    border-bottom: 2px solid #ff9900;
}

.item-tabs a {
    text-decoration: none;
    color: black;
}

.catalog-item {
    padding: 19px 22px;
    flex: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-bottom: 3px;
}

    .catalog-item:hover {
        color: black;
        -webkit-box-shadow: 0px 0px 17px 0px rgba(34, 60, 80, 0.4);
        -moz-box-shadow: 0px 0px 17px 0px rgba(34, 60, 80, 0.4);
        box-shadow: 0px 0px 17px 0px rgba(34, 60, 80, 0.4);
    }

.catalog-novetly{
    display: none;
}

.catalog-leaders-sells {
    display: none;
}

.catalog-expected{
    display: none;
}

.block-img-catalog-item {
    width: 152px;
    min-width: 152px;
    max-height: 72px;
}

.img-catalog-item {
    max-width: 100%;
    max-height: 72px;
}

.catalog-item-info {
    margin-left: 20px;
    vertical-align: middle;
    align-items: center;
}

.name-product {
    font-size: 16px;
}

.more-info {
    display: flex;
    font-size: 14px;
    margin-top: 15px;
}

.genre-product {
    color: #D7D7D7;
    display: flex;
    align-items: center;
}

.where-activate-product {
    margin-right: 20px;
    width: 25px;
    min-width: 25px;
}

    .where-activate-product img {
        width: 32px;
        height: 100%;
    }

.item-price {
    flex: 1 auto;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.discount-item {
    padding: 3px;
    min-width: 55px;
    margin-right: 8px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
}

.discount-item, .discount-prod-aside {
    background-color: #ff9900;
}

.cur-price-item {
    font-weight: 700;
    font-size: 18px;
    min-width: 63px;
    display: flex;
    justify-content: flex-end;
}

.catalog-item-more-games {
    background-color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 25px 0 25px 0;
    flex: 1;
    font-size: 14px;
    font-weight: 600;
}

.main-aside {
    width: 33%;
    margin-left: 12px;
}

.product-with-discount {
    display: inline;
}

.info-sicount-product-aside {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 18px;
}

    .info-sicount-product-aside sup {
        font-size: 12px;
        font-weight: 400;
    }

.discount-product-aside {
    padding: 12px 18px;
    background-color: white;
    flex: 1 auto;
    align-items: center;
    display: flex;
    text-decoration: none;
    margin-bottom: 3px;
}

.discount-product-aside-img {
    width: 100px;
    min-width: 100px;
    height: 47px;
}

    .discount-product-aside-img img {
        width: 100%;
        height: 47px;
    }

.discount-product-aside-name {
    margin: 0 10px 0 10px;
    max-width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.discount-product-aside-price {
    flex: 1 auto;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}

.discount-prod-aside {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 7px 1px 7px;
    color: white;
}

.aside-cur-price {
    min-width: 47px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
}

.more-discount-product-aside {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 25px 0 25px 0;
    font-size: 14px;
    font-weight: 600;
}

.last-sell {
    margin-top: 35px;
}

.last-sell-info {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}


.category-block {
    background-color: #0D0E10;
    width: 100%;
    color: white;
}

.category-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -18px -9px 40px;
}

.main-categories-list-item {
    width: 180px;
    padding: 0 9px;
    margin-top: 18px;
}

.main-category-item {
    display: block;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    background-color: #252627;
    padding: 22px;
    color: #fff;
}

.main-categories-item-image {
    text-align: center;
    margin-bottom: 15px;
}

    .main-categories-item-image img {
        width: 50px;
        height: 50px;
    }

.main-category-title {
    font-family: Play,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
