.price-reduction {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #fff;
}

.game__image-prc-red {
    position: relative;
    padding-top: 55.7391%;
}


    .game__image-prc-red img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 157px;
        min-height: 157px;
        width: 100%;
    }