.slideshow-screenshot-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide-image img {
    width: 600px;
}

.slide-image {
    display: none;
}

.fade-anim {
    /* ReSharper disable once CssNotResolved */
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    /* ReSharper disable once CssNotResolved */
    animation-name: fade;
    animation-duration: 1s;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    user-select: none;
    color: white !important;
}

.prev img,
    .next img {
        width: 100px;
        height: 100px;
    }

.next {
    right: -99px;
}

.prev {
    left: -100px;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active,
    .dot:hover {
        background-color: #717171;
    }

@-webkit-keyframes fade-anim {
    from {
        -ms-opacity: 0.4;
        opacity: 0.4;
    }

    to {
        -ms-opacity: 1;
        opacity: 1;
    }
}

@keyframes fade-anim {
    from {
        -ms-opacity: 0.4;
        opacity: 0.4;
    }

    to {
        -ms-opacity: 1;
        opacity: 1;
    }
}

.first-img {
    width: 69%;
}

.first-img {
    width: 854px !important;
    max-height: 480px;
    position: relative;
}

.second-img {
    max-width: 454px;
    max-height: 240px;
}

.first-image-text {
    position: absolute;
    color: #fff;
    left: 35px;
    font-size: 24px;
    bottom: 45px;
    font-weight: 600;
}

.first-image__cont-price {
    display: flex;
    color: #fff;
    position: absolute;
    bottom: 45px;
    right: 35px;
}

.first-image__discount {
    padding: 3px 12px;
    border: 2px solid #ff9900;
}

.first-image__price {
    background-color: #ff9900;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 0 12px;
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 600;
}

.first-image__price span {
        text-decoration: line-through;
        color: black;
        font-weight: 400;
        margin-right: 5px;
    }
