@{
    ViewBag.Title = "Game Step";
}

@section Style{
    <link href="/css/HomePage/HomePage.css" rel="stylesheet" />
}

<div class="main-content">
    <div class="product-content">
        <div>

        </div>
        <div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/HomePage/HomePage.js"></script>
 }