.content {
    position: relative;
    max-width: 1236px;
    margin: auto auto;
    padding-top: 24px;
}

.info-page {
    font-size: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
}

.left-content {
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    background-color: #fff;
    margin-right: 25px;
}


.right-content__avatar-block-img {
    width: 100px;
    height: 100px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    margin: 0 auto;
}

.right-content__avatar-block-img img {
    width: 100%;
    display: block;
}

.right-content__greeting {
    color: #616161;
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
}

.right-content {
    min-width: 25%;
}

.right-content a {
    font-size: 18px;
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    color: #616161;
    padding: 15px 15px;
    border-bottom: 1px solid #dfdfdf;
}

.right-content a:hover {
    color: #ff9900;
}

.right-content a img {
    margin-right: 10px;
    max-width: 25px;
}
