.content {
    position: relative;
    max-width: 1236px;
    margin: auto auto;
    padding-top: 24px;
}

.info-page {
    font-size: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
}

.left-content {
    flex: 1;
    margin-right: 25px;
    background-color: white;
}

.left-content__list {
    list-style: none;
    padding: 0 15px;
    box-sizing: border-box;
}

    .left-content__list li {
        display: flex;
        border-bottom: 1px solid #dfdfdf;
        padding: 30px 0;
    }

.left-content__block-img {
    min-width: 50px;
    height: 50px;
    background-color: #ff9900;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

    .left-content__block-img img {
        max-width: 32px;
        max-height: 32px;
    }

.left-content__block-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.left-content__block-description {
    font-size: 18px;
}

.right-content__avatar-block-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    margin: 0 auto;
}

    .right-content__avatar-block-img img {
        width: 100%;
        display: block;
    }

.right-content__greeting {
    color: #616161;
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
}

.right-content {
    min-width: 25%;
}

    .right-content a {
        font-size: 18px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #616161;
        padding: 15px 15px;
        border-bottom: 1px solid #dfdfdf;
    }

        .right-content a:hover {
            color: #ff9900;
        }

        .right-content a img {
            margin-right: 10px;
            max-width: 25px;
        }
