<header class="main-header">
    <div class="main-header__inner">
        <div class="main-header__logo">
            <a href="#">
                <img src="/img/icon/logo4.png" alt="Logo Game Step">
            </a>

        </div>

        <div class="main-header__dropdown-menu">
            <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="30px" height="30px">
                <path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z" />
            </svg>
        </div>

        <nav>
            <ul class="main-header__list">
                <li class="main-header__item">
                    <a class="main-header__btn" href="#">
                        Каталог Продукции
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="main-header__btn" href="#">
                        Поддержка
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="main-header__btn" href="#">
                        Мои Покупки
                    </a>
                </li>
            </ul>
        </nav>

        <div class="main-header__search-block">
            <div class="main-header__btn">
                <img class="main-header__search-icon" src="/img/icon/magnifier.png" alt="magnifier">
                Поиск игр
            </div>
        </div>

        <div class="main-header__cart">
            <img class="main-header__cart-logo" src="/img/icon/ShoppingCart.png" alt="Shopping cart">
            <span class="main-header__amount-prod"></span>
        </div>
    </div>
</header>